<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<resultMap type="Board" id="resultBoard">
		<id column="BOARD_NO" property="board_no"/>
		<result column="BOARD_TITLE" property="board_title"/>
		<result column="BOARD_CONTENTS" property="board_contents"/>
		<result column="BOARD_WRITE" property="board_write"/>
		<result column="BOARD_STATUS" property="board_status"/>
		<result column="CATEGORY_CODE" property="category_code"/>
		<result column="STUDY_NO" property="study_no"/>
		<result column="MEMBER_ID" property="member_id"/>
	</resultMap>
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD VALUES (BOARD_SEQ.nextval, #{board_title}, #{board_contents}
		, SYSDATE, #{board_status}, #{category_code}
		, #{study_no}, #{member_id})
	</insert>

	<update id="updateBoard">
		UPDATE BOARD
		SET (#{board_title}, #{board_contents}, #{board_write}
		, #{board_status}, #{category_code})
		WHERE STUDY_NO=#{study_no} AND MEMBER_ID=#{member_id} AND BOARD_NO=#{board_no}
	</update>
	<delete id="deleteBoard">
		DELETE FROM BOARD WHERE BOARD_NO=#{board_no}
	</delete>
	<select id="selectBoard" resultMap="resultBoard">
		SELECT * FROM BOARD WHERE BOARD_NO=#{board_no} 
	</select>
	<select id="selectListBoard" resultType="map" parameterType="_int">
		SELECT * FROM BOARD 
		WHERE study_no=#{study_no} 
		ORDER BY board_write DESC 
	</select>
	<select id="selectListBoard2" resultType="map" parameterType="_int">
		SELECT * FROM BOARD 
	</select>
	<!-- 이하 두 개 수정 필요, 페이징처리 -->
	<select id="selectListBoardPage" parameterType="map">
		SELECT * FROM BOARD WHERE STUDY_NO=#{study_no}
	</select>
	<select id="selectListBoardSearch" parameterType="map">
		SELECT * FROM BOARD WHERE STUDY_NO=#{study_no}
	</select>
	<!-- selectListBoardSearch 추가 작성 필요 TODO -->
	<select id="selectBoardCount">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<!-- BoardComment -->
	<insert id="insertBoardComment">
		INSERT INTO BOARD_COMMENT
		VALUES(#{comment_no}, #{comment}, SYSDATE
		, #{comment_origin}, #{comment_level}, #{comment_seq}
		, #{board_no}, #{member_id})
	</insert>
	<update id="updateBoardComment">
		UPDATE BOARD_COMMENT
		SET(#{comment_no}, #{comment}, SYSDATE
		, #{comment_origin}, #{comment_level}, #{comment_seq}
		, #{member_id})
		WHERE BOARD_NO=#{board_no}
	</update>
	<delete id="deleteBoardComment" parameterType="map">
		DELETE FROM BOARD_COMMENT
		WHERE BOARD_NO=#{board_no} AND COMMENT_NO=#{comment_no}
	</delete>
	<select id="selectBoardComment" parameterType="map" resultType="map">
		SELECT * FROM BOARD_COMMENT
		WHERE BOARD_NO=#{board_no} AND COMMENT_NO=#{comment_no}
	</select>
	<select id="selectListBoardComment" resultType="map">
		SELECT * FROM BOARD_COMMENT
		WHERE BOARD_NO=#{board_no}
	</select>
	<select id="selectBoardCommentCount" resultType="map">
		SELECT COUNT(*) FROM BOARD_COMMENT
	</select>
	
	<!-- BoardAttachment -->
	<insert id="insertBoardAttachment">
		INSERT INTO BOARD_ATTACHMENT
		VALUES(#{attachment_no}, #{origin_name}, #{save_name}
		, #{save_route}, #{board_no})
	</insert>
	<update id="updateBoardAttachment">
		UPDATE BOARD_ATTACHMENT
		SET( #{origin_name}, #{save_name}, #{save_route})
		WHERE BOARD_NO=#{board_no} AND ATTACHMENT_NO=#{attachment_no}
	</update>
	<delete id="deleteBoardAttachment" parameterType="map">
		DELETE FROM BOARD_ATTACHMENT
		WHERE BOARD_NO=#{board_no} AND ATTACHMENT_NO=#{attachment_no}
	</delete>
	<select id="selectBoardAttachment" parameterType="map" resultType="map">
		SELECT * FROM BOARD_ATTACHMENT
		WHERE BOARD_NO=#{board_no} AND ATTACHMENT_NO=#{attachment_no}
	</select>
	<select id="selectListBoardAttachment" resultType="map">
		SELECT * FROM BOARD_ATTACHMENT
		WHERE BOARD_NO=#{board_no}
	</select>
	<select id="selectBoardAttachmentCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_ATTACHMENT
	</select>
	
	<!-- BoardCategory -->
	<select id="selectBoardCategory" resultType="map">
		SELECT * FROM BOARD_CATEGORY
		WHERE CATEGORY_CODE=#{category_code}
	</select>
</mapper>
