<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cardInfo">
	<resultMap type="CardInfo" id="CardInfoMap">
		<id column="TID" property="tid"/>
		<result column="BIN" property="bin"/>
		<result column="CARD_TYPE" property="card_type"/>
		<result column="KKP_PUR_CORP" property="kakaopay_purchase_corp"/>
		<result column="KKP_PUR_CORP_CODE" property="kakaopay_purchase_corp_code"/>
		<result column="KKP_ISS_CORP" property="kakaopay_issuer_corp"/>
		<result column="KKP_ISS_CORP_CODE" property="kakaopay_issuer_corp_code"/>
	</resultMap>
	<insert id="insertCardInfo">
		INSERT INTO CARD_INFO VALUES(
			#{tid}, #{bin}, #{card_type}, #{kakaopay_purchase_corp}
			, #{kakaopay_purchase_corp_code}, #{kakaopay_issuer_corp}, #{kakaopay_issuer_corp_code}
		)
	</insert>
	<update id="updateCardInfo">
	
	</update>
	<delete id="deleteCardInfo">
		DELETE FROM CARD_INFO WHERE TID=#{tid}
	</delete>
	<select id="selectCardInfo" resultMap="CardInfoMap">
		SELECT * FROM CARD_INFO WHERE TID=#{tid}
	</select>
	<select id="selectListCardInfo" resultMap="CardInfoMap">
		SELECT * FROM CARD_INFO
	</select>
	
	<!-- 관리자 페이지 스터디카페/룸 삭제 시 -->
	<delete id="deleteCardInfoPlaceRoomDelete" parameterType="list">
		delete from card_info 
    		where tid in 
    		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
    			#{item.tid}
    		</foreach>
	</delete>
</mapper>
