<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reserve">
	<insert id="insertReserve">
		INSERT INTO RESERVE_INFO VALUES(
			TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'), #{member_id}, #{room_no}, #{reserve_price}, #{reserve_name}
			, #{reserve_email}, #{reserve_phone}, TO_CHAR(SYSDATE, 'HH24:MI:SS'), TO_CHAR(SYSDATE, 'HH24:MI:SS')
			, #{reserve_comment}, #{payment_method_type}, SYSDATE, #{tid}
			<!-- TODO hhjng start, end time, 화면에서 가져오는 데이터로 추후 수정 -->
		)
	</insert>
	<update id="updateReserve">
		UPDATE RESERVE_INFO
		SET (ROOM_NO, RESERVE_PRICE, RESERVE_NAME
		, RESERVE_EMAIL, RESERVE_PHONE ,RESERVE_START_TIME ,RESERVE_END_TIME
		,RESERVE_COMMENT , PAYMENT_METHOD_TYPE, RESERVE_PAY, TID
		)
		= (#{room_no}, #{reserve_price}, #{reserve_name}
			, #{reserve_email}, #{reserve_phone}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'), TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
			, #{reserve_comment}, #{payment_method_type}, #{reserve_pay}, #{tid}
			)
		WHERE MEMBER_ID=#{member_id} AND RESERVE_NO=#{reserve_no}
	</update>
	<delete id="deleteReserve" parameterType="map">
		DELETE FROM RESERVE_INFO WHERE MEMBER_ID=#{member_id} AND RESERVE_NO=#{reserve_no}
	</delete>
	<select id="selectReserve" resultType="ReserveInfo" parameterType="map">
		SELECT * FROM RESERVE_INFO WHERE MEMBER_ID=#{member_id} AND RESERVE_NO=#{reserve_no}
	</select>
	<select id="selectListReserve" resultType="map">
		SELECT * FROM RESERVE_INFO
	</select>
	<select id="selectListMyReserve" resultType="map">
		SELECT * FROM RESERVE_INFO WHERE MEMBER_ID=#{member_id}
	</select>
	
	<!-- cancelReserve -->
	<insert id="cancelInsert">
		INSERT INTO CANCEL_RESERVE_INFO VALUES(
			#{reserve_no}, #{member_id}, #{room_no}, #{reserve_price}, #{reserve_name}
			, #{reserve_email}, #{reserve_phone}, #{reserve_start_time}, #{reserve_end_time}
			, #{reserve_comment}, #{payment_method_type}, #{reserve_pay}, #{tid}
		)
	</insert>
	<delete id="cancelDelete">
		DELETE FROM CANCEL_RESERVE_INFO WHERE MEMBER_ID=? AND RESERVE_NO=?
	</delete>
	<select id="cancelSelectReserve" resultType="CancelReserveInfo" parameterType="map">
		SELECT * FROM CANCEL_RESERVE_INFO WHERE MEMBER_ID=#{member_id} AND RESERVE_NO=#{reserve_no}
	</select>
	<select id="cancelSelectListReserve" resultType="map">
		SELECT * FROM CANCEL_RESERVE_INFO
	</select>
</mapper>
