<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reserve">
	<insert id="insertReserve">
		INSERT INTO RESERVE_INFO VALUES(
			TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'), #{member_id}, #{room_no}, #{reserve_price}, #{reserve_name}
			, #{reserve_email}, #{reserve_phone}, SYSDATE, SYSDATE
			, #{reserve_comment}, SYSDATE
		)
	</insert>
	<!-- TODO hhjng -->
	<update id="updateReserve">
		UPDATE RESERVE_INFO
		SET (ROOM_NO, RESERVE_PRICE, RESERVE_NAME
		, RESERVE_EMAIL, RESERVE_PHONE ,RESERVE_START_TIME ,RESERVE_END_TIME
		,RESERVE_COMMENT ,RESERVE_PAY
		)
		= (#{room_no}, #{reserve_price}, #{reserve_name}
			, #{reserve_email}, #{reserve_phone}, #{reserve_start_time}, #{reserve_end_time}
			, #{reserve_comment}, #{reserve_pay}
			)
		WHERE MEMBER_ID=#{member_id} AND RESERVE_NO=#{reserve_no}
	</update>
	<delete id="deleteReserve">
		DELETE FROM RESERVE_INFO WHERE MEMBER_ID=#{member_id} AND RESERVE_NO=#{reserve_no}
	</delete>
	<select id="selectReserve" resultType="ReserveInfo">
		SELECT * FROM RESERVE_INFO WHERE RESERVE_NO=#{reserve_no}
	</select>
	<select id="selectListReserve" resultType="list">
		SELECT * FROM RESERVE_INFO
	</select>
</mapper>
