<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="schedule">
	<insert id="insertSchedule">
		INSERT INTO SCHEDULE VALUES
			(SEQ_SCHEDULE_NO.nextval, #{schedule_content}, #{start_date}, #{end_date}, #{member_id}, #{study_no})
	</insert>
	<select id="selectStudySchedule" resultType="Schedule">
		SELECT * FROM SCHEDULE WHERE STUDY_NO=#{study_no}
	</select>
</mapper>