<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studyRoom">
	<insert id="insertRoom" parameterType="StudyRoom">
		insert all
		INTO STUDY_ROOM VALUES(room_seq.nextval,#{room_name},#{room_price},#{room_start_time},#{room_end_time},#{room_people},#{p_no})
		INTO ROOM_IMG VALUES(room_seq.nextval,#{room_img_origin},#{room_img_save},#{room_img_route})
		select * from dual
	</insert>
	<update id="updateRoom">
		UPDATE STUDY_ROOM 
		set ROOM_NO=#{room_no}
		<if test="room_name != null and !''.equals(room_name)">
			, ROOM_NAME=#{room_name}
		</if>
		<if test="room_price != 99">
			, ROOM_PRICE=#{room_price}
		</if>
		<if test="room_start_time != 99">
			, ROOM_START_TIME=#{room_start_time}
		</if>
		<if test="room_end_time != 99">
			, ROOM_END_TIME=#{room_end_time}
		</if>
		<if test="room_people != 99">
			, ROOM_PEOPLE=#{room_people}
		</if>
		WHERE ROOM_NO=#{room_no}
	</update>
	<update id="updateRoomImg">
		UPDATE ROOM_IMG
		SET ROOM_IMG_ORIGIN=#{room_img_origin}
			, ROOM_IMG_SAVE=#{room_img_save}
			, ROOM_IMG_ROUTE=#{room_img_route}
		WHERE ROOM_IMG_NO=#{room_no}
	</update>
	<delete id="deleteRoom" parameterType="_int">
		DELETE FROM STUDY_ROOM WHERE ROOM_NO=#{room_no}
	</delete>
	<delete id="deleteRoomImg" parameterType="_int">
		DELETE FROM ROOM_IMG WHERE ROOM_IMG_NO=#{room_img_no}
	</delete>
	<delete id="deleteRoomPlace" parameterType="_int">
		DELETE FROM STUDY_ROOM WHERE P_NO=#{p_no}
	</delete>
	<delete id="deleteRoomImgPlace" parameterType="_int">
		DELETE ROOM_IMG WHERE ROOM_IMG_NO IN (select room_no from study_room where p_no = #{p_no})
	</delete>
	
	
	
	<select id="selectRoom" parameterType="_int" resultType="StudyRoom">
		select room_no, room_name, room_price, room_start_time, room_end_time, room_people, p_no, room_img_origin, room_img_save, room_img_route 
		    from STUDY_ROOM sr join ROOM_IMG ri on sr.ROOM_NO = ri.ROOM_IMG_NO
		    where ROOM_NO=#{room_no}
	</select>
	<select id="selectListRoom" resultType="StudyRoom" parameterType="_int">
		select room_no, room_name, room_price, room_start_time, room_end_time, room_people, p_no, room_img_origin, room_img_save, room_img_route 
		    from STUDY_ROOM sr join ROOM_IMG ri on sr.ROOM_NO = ri.ROOM_IMG_NO
		    where p_no = #{p_no}
		    order by room_people
	</select>
	<select id="selectRoomNo" resultType="_int" parameterType="map">
		SELECT * FROM STUDY_ROOM where P_NO=${p_no} AND ROOM_NAME='${room_name}'
	</select>
</mapper>
