<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Study">
  
<resultMap type="Study" id="resultStudy">
	<id column="STUDY_NO" property="study_no"/>
	<result column="STUDY_NAME" property="study_name"/>
	<result column="STUDY_PLACE" property="study_place"/>
	<result column="STUDY_INFO" property="study_info"/>
	<result column="STUDY_DATE" property="study_date"/>
	<result column="STUDY_DETAILINFO" property="study_detailInfo"/>
	<result column="STUDY_CREATE_DATE" property="study_create_date"/>
	<result column="STUDY_END_DATE" property="study_end_date"/>
	<result column="STUDY_TAG" property="study_tag"/>
	<result column="AUTH_CODE" property="area_code"/>
	<result column="STUDY_CATEGORY_CODE" property="study_category_code"/>
</resultMap>

<insert id="insertStudy" parameterType="Study" statementType="PREPARED">
	insert into study(study_name, study_place, study_info, study_detailInfo, study_create_date,
						study_end_date, study_tag, area_code) 
						values (#{study_name}, #{study_place}, 
						#{study_info}, #{study_detailInfo}, #{study_create_date}, #{study_end_date}, #{study_tag}, #{area_code})
</insert>

<select id="studylist" statementType="PREPARED" resultMap="resultStudy">
	select * from study
</select>
</mapper>
