@charset "UTF-8";
/* FOOTER --------------------------------------------------------*/

#footer{
	color: #d9e2ef;
	padding-top: 35px;
	background: url(../img/torn-bottom.png) repeat-x top left;
}

#footer a{
	color: #b0c4e1;
	text-decoration: none;
}

#footer a:hover{
	color: #000;
	background: #b0c4e1;
}

#footer .wrapper{
	background: url(../img/divider-ver.png) repeat-y center 0px;
}

.footer-left {
	float:left;
	width: 440px;
	margin-right:60px;
	margin-left: 10px;
}

.footer-right {
	float:left;
	width: 440px;
	margin-right:0px;
}

#footer .title{
	position: relative;
	overflow: hidden ;
	color: #b0c4e1;
	margin-bottom: 30px;
	margin-left: 10px;
}


#footer .title span.big{
	display: block;
	float: left;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 48px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
	line-height: 50px;
}

#footer .title span.small{
	display: block;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-style: italic;
	margin-left: 20px;
	margin-top: 27px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

/* BOTTOM --------------------------------------------------------*/

#bottom{
	position: relative;
	width: 100%;
	font-size: 12px;
	line-height: 60px;
	color: #7a7e83;
	background:  url(../img/bottom-bg.png);
	margin-top: 30px;
}

#bottom #bottom-text{
	width: 600px;
	overflow: hidden;
	margin-left: 12px;	
}

#bottom a{
	color: #b0c4e1;
	text-decoration: none;
}

/* TOP TOP --------------------------------------------------------*/

.to-top{
	position: absolute;
	right: 10px;
	top: 15px;
	padding-right: 33px;
	font-size: 11px;
	line-height: 26px;
	font-style: italic;
	color: #797e86;
	background: url(../img/to-top.png) no-repeat top right;
	cursor: pointer;
}