body{
    display: flex;
}
.empty_space{
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oil_info{
	display: block;
	text-align: center;
}
#header{
	position: relative;
    height: 100vh;
    border-right: 1px solid rgba(0,0,0,.15);
    box-sizing: content-box;
    display: flex;
    background: #282d34/*  url(../img/bg/patterns/obl-1x1.png) */;
    flex-direction: column;
    z-index: 100;
}
.logo{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.logo_a{
    padding: 10px;
}
.logo_img{
    width: 35px;
    height: 35px;
}
.content_bar_div{
    height: 100%;
    margin-top: 30px;
}
.content_item{
    width: 100%;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.map_home_logo{
    display: block;
    width: 28px;
    height: 32px;
}
.map_home{
    margin-top: 3px;
    display: block;
    color: #d9e2ef;
}
.load_search_logo{
    display: block;
    width: 25px;
    height: 25px;
}
.load_search{
    margin-top: 3px;
    display: block;
    color: #d9e2ef;
}
.login_button{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 100px;
    align-items: center;
}
.login_button span{
    color: #d9e2ef;
}