#main_section{
    display: inline;
    border: none;
    width:100%;
}
#map{
    position: relative;
    border: none;
    width:100%;
    height:100%;
    z-index: 1;
}
#map_home_page{
    position: relative;
}
#map_home_page::-webkit-scrollbar { 
    display: none;
    width: 0 !important;
}
.map_home_box{
    display: flex;
    position: fixed;
    height: 100vh;
    top: 0;
    background: #fbfaf7;
    z-index: 50;
    transition: transform 300ms linear;
}
.search_list_box {
    display: flex;
}
/* 페이지 닫기 버튼 */
.hidden_box{
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 100%;
    overflow: hidden;
}
.close_button{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    z-index: 10;
}

#all_hidden_button{
    display: inline-block;
    width: 25px;
    height: 49px;
    padding: 0;
    font-size: 0;
    background-color: #fff;
    border: 2px solid #eef0f4;
    border-radius: 5px;
    vertical-align: top;
}
#all_hidden_button > img{
    height: 20px;
    width: 13px;
}
/* 검색창 */
.search_input_box{
    display: block;
    margin: auto;
    padding: 15px 25px;
}
.map_home_category_wrap {
	display: flex;
	align-items: center;
    margin : 0 auto 20px;
    justify-content: space-between;
    width: 330px;
}
.map_home_category_wrap > label {
	height: 50px;
	line-height: 50px;
}
.map_home_category {
	padding-left: 10px;
    width: 240px;
    height: 50px;
    border: 1px solid black;
    background-color: #fff;
}
#map_home_search{
	padding-left: 10px;
    width: 330px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
#map_home_search input{
    border: none;
    outline: none;
    font-size: 16px;
}
#map_home_search > button{
    border: none;
    background-color: #fff;
}
#map_home_search > button > img{
    height: 25px;
    width: 25px;
}

/* 목적지 리스트 */

.heading{
	position : relative;
    width: 340px;
    padding: 20px 12px 20px 25px;
    box-sizing: border-box;
    font-size: 1px;
    line-height: 1px;
    display: block;
    justify-content: center;
    align-items: center;
}
.heading > span{
    width: 90px;
    height: 14px;
    font-size: 14px;
}
.line{
    position: absolute;
    left: 105px;
    height: 1px;
    background: #dbdee0;
    width: 250px;
}
.around_wrap{
    height: 100%;
    width: 390px;
    overflow: auto;
    flex: 1 1 0%;
    
}
.destination_li{
    position: relative;
    display: list-item;
    padding: 21px 25px 18px;
}
.destination_data{
    display: block;
}
.destination_name{
    font-weight: 600;
    font-size: 1.4rem;
}

/* 출발, 도착 버튼 */
.des_button_1_span1{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 5px 5px 0 0;
    border: 1px solid #eef0f4;
    border-radius: 19px;
}
.des_button_1_span1_button{
    position: relative;
    display: inline-block;
    padding: 7px 7px 6px 10px;
    line-height: 1.6rem;
    font-size: 1.3rem;
}
.page_button{
    width: 100%;
    height: 60px;
    border-top: 1px solid #eef0f4;
}

/* 검색 시 목록 */
#placesList li {list-style: none;}
#destination_list .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px; display: flex; padding: 10px 0 10px 5px;}
#destination_list .item span {display: block;margin-top:4px;}
#destination_list .item h5, #destination_list .item span.gray  {width: 270px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#destination_list .item .img{width: 100px; height: 100px; object-fit: cover; margin: auto 0;}
#destination_list .item .info{padding:10px 0 10px 10px;}
/* #destination_list .info .gray {color:#8a8a8a;} */
#destination_list .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
/* #destination_list .info .tel {color:#009900;} */
#destination_list .info .btn_wrap {display: flex; justify-content: space-between; padding: 5px 15px 0 0;}
#destination_list .info .btn {width: 120px;}
#destination_list .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#destination_list .item .marker_1 {background-position: 0 -10px;}
#destination_list .item .marker_2 {background-position: 0 -56px;}
#destination_list .item .marker_3 {background-position: 0 -102px}
#destination_list .item .marker_4 {background-position: 0 -148px;}
#destination_list .item .marker_5 {background-position: 0 -194px;}
#destination_list .item .marker_6 {background-position: 0 -240px;}
#destination_list .item .marker_7 {background-position: 0 -286px;}
#destination_list .item .marker_8 {background-position: 0 -332px;}
#destination_list .item .marker_9 {background-position: 0 -378px;}
#destination_list .item .marker_10 {background-position: 0 -423px;}
#destination_list .item .marker_11 {background-position: 0 -470px;}
#destination_list .item .marker_12 {background-position: 0 -516px;}
#destination_list .item .marker_13 {background-position: 0 -562px;}
#destination_list .item .marker_14 {background-position: 0 -608px;}
#destination_list .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination a img {width: 10px; height: 10px; object-fit: cover;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
.tel {color:#009900;}
.gray {color:#8a8a8a;}
/* 스터디 정보 부분*/

.reserve_box {
    position: relative;
	width: 390px;
    display: none;
}
.reserve_box > div {
}
.study_info {
	display: flex;
	flex-direction: column;
}
.close_button.sub {
	top: 20px;
	display: none;
}
#reserve_close_btn {
	display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 0;
    background-color: #fff;
    border: 2px solid #eef0f4;
    border-radius: 5px;
    vertical-align: top;
}
.reserve_close_btn_img {
    height: 30px;
    width: 30px;
}
.study_detail {
	background: rgb(231, 230, 227);
}
.div_reserve {
	width : 371.1px;
}
.detail_title {
	text-align: center;
}
.detail_text {
	margin: 5px 10px; 
}

.reserve_list {
	border-bottom: 1px solid #c0c0c0;
	padding: 10px 0 10px 20px;
	cursor: pointer;
}

/* 스터디 예약 부분 */
.study_reserve {
	display : none;
	flex-direction: column;
}
.reserve_section {
	overflow: auto;
	display : flex;
	flex-direction: column;
}
.reserve_header {
	display : flex;
	align-items: center;
	margin-bottom: 10px;
}
.reserve_header > h2 {
	width : 100%;
	text-align: center;
}
#reserve_header_img {
	height: 40px;
	width: 30px;
	cursor: pointer;
}
.detail_text.last {
	display: none;
}

#detail_text_hidden {
	background: rgb(211, 210, 207);
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.detail_text_hidden_img {
	height: 25px;
	width: 20px;
	transform : rotate(270deg);
}
.payment_info {
	padding-left: 23px;
	margin-bottom: 20px;
}