<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- DB 연결 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- 클레스명 별칭 설정 -->
	<typeAliases>
		<!--  <typeAlias type="kh.team2.swith.test.model.vo.TestVo" alias="TestVo" />-->
		<!-- member -->
		<typeAlias type="kh.team2.swith.member.model.vo.Member" alias="Member"/>
		<typeAlias type="kh.team2.swith.member.model.vo.MemberProfile" alias="MemberProfile"/>
		<typeAlias type="kh.team2.swith.member.model.vo.Inform" alias="Inform"/>
		<typeAlias type="kh.team2.swith.member.model.vo.Report" alias="Report"/>
		<!-- board -->
		<typeAlias type="kh.team2.swith.board.model.vo.Board" alias="Board"/>
		<!-- study room -->
		<typeAlias type="kh.team2.swith.place.room.model.vo.StudyRoom" alias="StudyRoom"/>
		<typeAlias type="kh.team2.swith.place.room.model.vo.RoomImg" alias="RoomImg"/>
		<!-- reserve -->
		<typeAlias type="kh.team2.swith.reserve.model.vo.CardInfoVo" alias="CardInfo"/>
		<typeAlias type="kh.team2.swith.reserve.model.vo.ReserveInfo" alias="ReserveInfo"/>
		<typeAlias type="kh.team2.swith.reserve.model.vo.CancelReserveInfo" alias="CancelReserveInfo"/>
		<typeAlias type="kh.team2.swith.reserve.model.vo.ReserveChart" alias="ReserveChart"/>
		<!-- study -->
		<typeAlias type="kh.team2.swith.study.model.vo.Study" alias="Study"/>
		<typeAlias type="kh.team2.swith.study.model.vo.StudyComment" alias="StudyComment"/>
		<typeAlias type="kh.team2.swith.study.model.vo.StudyAuthInfo" alias="StudyAuthInfo"/>
		<typeAlias type="kh.team2.swith.study.model.vo.StudyParticipant" alias="StudyParticipant"/>
		<typeAlias type="kh.team2.swith.study.model.vo.StudyReserver" alias="StudyReserver"/>
		<typeAlias type="kh.team2.swith.study.model.vo.StudyAdmin" alias="StudyAdmin"/>
		<typeAlias type="kh.team2.swith.study.model.vo.StudyCategory" alias="StudyCategory"/>
		<!-- area -->
		<typeAlias type="kh.team2.swith.area.model.vo.Area" alias="Area"/>
		<!-- place -->
		<typeAlias type="kh.team2.swith.place.model.vo.Place" alias="Place"/>
		<!-- schedule -->
		<typeAlias type="kh.team2.swith.schedule.model.vo.Schedule" alias="Schedule"/>
		<!-- profile -->
		<typeAlias type="kh.team2.swith.member.model.vo.Profile" alias="Profile"/>
		<typeAlias type="kh.team2.swith.member.model.vo.ProfileImg" alias="ProfileImg"/>
		<!-- penalty -->
		<typeAlias type="kh.team2.swith.penalty.model.vo.Penalty" alias="Penalty"/>
		<!-- 채팅 -->
		<typeAlias type="kh.team2.swith.chat.model.vo.Chat" alias="Chat"/>
	</typeAliases>
	<!-- sql 구문 경로 설정 -->
	<mappers>
		<!-- <mapper resource="mappers/test-mapper.xml" /> -->
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/studyRoom-mapper.xml"/>
		<mapper resource="mappers/reserve-mapper.xml"/>
		<mapper resource="mappers/cardInfo-mapper.xml"/>
		<mapper resource="mappers/study-mapper.xml"/>
		<mapper resource="mappers/area-mapper.xml"/>
		<mapper resource="mappers/place-mapper.xml"/>
		<mapper resource="mappers/roomImg-mapper.xml"/>
		<mapper resource="mappers/schedule-mapper.xml"/>
		<mapper resource="mappers/profile-mapper.xml"/>
		<mapper resource="mappers/penalty-mapper.xml"/>
		<mapper resource="mappers/chatting-mapper.xml"/>
	</mappers>
</configuration>
