<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- DB 연결 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- 클레스명 별칭 설정 -->
	<typeAliases>
		<!--  <typeAlias type="kh.team2.swith.test.model.vo.TestVo" alias="TestVo" />-->
		<!-- member -->
		<typeAlias type="kh.team2.swith.member.model.vo.Member" alias="Member"/>
		<!-- board -->
		<typeAlias type="kh.team2.swith.board.model.vo.BoardWrite" alias="BoardWrite"/>
		<!-- study room -->
		<typeAlias type="kh.team2.swith.place.room.model.vo.StudyRoom" alias="StudyRoom"/>
		<typeAlias type="kh.team2.swith.place.room.model.vo.RoomImg" alias="RoomImg"/>
		<!-- reserve -->
		<typeAlias type="kh.team2.swith.reserve.model.vo.CardInfoVo" alias="CardInfo"/>
		<typeAlias type="kh.team2.swith.reserve.model.vo.ReserveInfo" alias="ReserveInfo"/>
		<typeAlias type="kh.team2.swith.reserve.model.vo.CancelReserveInfo" alias="CancelReserveInfo"/>
		<!-- study -->
		<typeAlias type="kh.team2.swith.study.model.vo.Study" alias="Study"/>
		<!-- area -->
		<typeAlias type="kh.team2.swith.area.model.vo.Area" alias="Area"/>
		<!-- place -->
		<typeAlias type="kh.team2.swith.place.model.vo.PlaceInfo" alias="PlaceInfo"/>
		<typeAlias type="kh.team2.swith.place.model.vo.PlaceImg" alias="PlaceImg"/>
		<!-- schedule -->
		<!-- <typeAlias type="kh.team2.swith.schedule.model.vo.Schedule" alias="Schedule"/> -->
		
	</typeAliases>
	<!-- sql 구문 경로 설정 -->
	<mappers>
		<!-- <mapper resource="mappers/test-mapper.xml" /> -->
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/studyRoom-mapper.xml"/>
		<mapper resource="mappers/reserve-mapper.xml"/>
		<mapper resource="mappers/cardInfo-mapper.xml"/>
		<mapper resource="mappers/study-mapper.xml"/>
		<mapper resource="mappers/area-mapper.xml"/>
		<mapper resource="mappers/placeInfo-mapper.xml"/>
		<mapper resource="mappers/placeImg-mapper.xml"/>
		<mapper resource="mappers/roomImg-mapper.xml"/>
		<!-- <mapper resource="mappers/schedule-mapper.xml"/> -->
	</mappers>
</configuration>
