@charset "UTF-8";
/* 공통 */
.wrapper.admin {
	width: 960px;
}
.mypage_mid_l.admin {
	height: inherit;
	width: 230px;
}
.mySidebar.admin {
	width: 230px;
}
.right-content.admin {
	height: 850px;
}
.right-wrapper.admin {
	width: 710px;
}
.admin.padding > hr {
	margin-top: 0;
}
.admin_content_wrap {
	display: none;
}
.admin_content_wrap.show {
	display: block;
}
.admin.title_wrap {
	display: flex;
	justify-content: space-between;
}
#admin_title_label {
	margin-bottom : 0;
	margin-top: 20px;
	display: none;
}
.admin.p-title {
	margin-bottom : 10px;
}

/* 스터디 관리  start */
.study_serch_form {
	position : absolute;
	top : 330px;
	left : 0;
	width : 230px;
	padding : 10px;
	
	display: flex;
	flex-direction : column;
	align-items: center;
	
	background: #fff;
	box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
	border: 1px solid rgb(242, 242, 242);
}
.study_serch_form > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}
.study_serch_form > div > input {
	width: 160px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 4px;
	outline: 0 none;
	font-size: 12px;
	margin: 0 5px;
}
.study_serch_form > div > label {
	font-size: 12px;
}
.study_serch_form > div > select {
	width: 130px;
	height: 30px;
	padding: 5px 0 5px 5px;
	border-radius: 4px;
	outline: 0 none;
	font-size: 12px;
	margin: 0 5px;
}

/* 목록 부분 start */
.list_content {
	display : flex;
	justify-content: space-between;
	margin : 10px 0;
	padding : 5px 10px;
	
	background: #fff;
	box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
	border: 1px solid rgb(242, 242, 242);
	border-radius: 5px;
}
.list_content.study > h5 {
	height: 70px;
	line-height: 70px;
	margin-bottom: 0;
}
.list_content.study > div{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}
.list_content.study > div  p {
	margin-bottom: 0;
	font-size: 12px;
	margin-left: 5px;
}
.list_content.study > div > div {
	display: flex;
}
.list_content.studyCafe div.item {position:relative;overflow: hidden;cursor: pointer;min-height: 65px; display: flex; padding: 10px 0 10px 5px;}
.list_content.studyCafe div.item span {display: block;margin-top:4px;}
.list_content.studyCafe div.item .img{width: 100px; height: 100px; object-fit: cover; margin: auto 0; border-radius: 5px;}
.list_content.studyCafe div.item .info{padding:10px 0 10px 10px;}
.list_null {
	display: flex;
	justify-content: center;
	height: 400px;
	align-items: center;
}
.list_right_content > .btn-group > .btn-primary  {
	color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
.list_right_content > .btn-group > .btn-primary:hover  {
	color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.list_right_content > .btn-group > .btn-primary:hover > .bx-dots-vertical-rounded:before  {
	font-size: 2rem;
}
.list_right_content > .btn-group > .btn-icon {
	padding: 0;
    width: calc(2.309375rem  + 2px);
    height: calc(2.309375rem + 2px);
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.list_right_content > .btn-group > .dropdown-toggle > .bx-dots-vertical-rounded {
	font-style: inherit;
}
.list_right_content > .btn-group > .dropdown-toggle > .bx-dots-vertical-rounded:before {
    content: "\22EE";
    color : black;
    font-size: 1.5rem;
}
.list_right_content > .btn-group > .dropdown-toggle::after {
    display: none;
}
/* 목록 부분 end */
/* 스터디 관리  end */

/* 스터디 카페 등록 start */
textarea.admin.form-control {
	height: 100px;
	resize: none;
}
input.admin.form-control {
	width: 77%;
}
input.admin.form-control[readonly] {
	background-color: #fff;
}
.address_wrap.admin {
	display: flex;
	justify-content: space-between;
}
.btn.address_search.admin {
	display: block;
    padding: 0px 5px;
    text-align: center;
    overflow: hidden;
    width: 19%;
    height: 39.15px;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
.btn.address_search.admin > span{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
}
.btn.address_search.admin > span > img{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
    transform: rotate(270deg);
}
.label_wrap.admin {
	display: flex;
}
.tip_mark.admin {
	font-size: 12px;
}
.tip_mark.coral {
	color: coral;
}
.tip_mark.check {
	color: red;
	display : inline-block;
	height: 14px;
}
/* 스터디 카페 등록 end */

/* 예약통계 start  */
#admin_reserve_div > .chart_wrap {
	display : flex;
	flex-direction: column;
	align-items: center;
}
#firstChart_div {
	width: 650px;
}
#secondChart_div {
	position: relative;
	width: 650px;
}
#secondChart {
	width: 650px;
}
#firstChart_title, #secondChart_title {
	margin: 20px 0 10px;
}
.legend_div {
    position: absolute;
    top: 62px;
    right: 50px;
}

.legend_div ul li {
    margin: 10px 0;
    color: #666;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.legend_div ul li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
/* 예약통계 end  */

/* 모달창 start */
div.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(1, 5, 22, 0.2);
    z-index: 101;
}
.modal_content_wrap {
    position: relative;
    top: 20%;
    margin: auto;
    padding : 10px;
    background-color: #c0c0c0;
    border-radius: 10px;
}
.modal_content {
    background-color: white;
    border-radius: 10px;
}
/* 모달창 - 정보 수정 */
.modal_content_wrap.update {
    top: 15%;
    width: 500px;
    height: 720px;
}
.modal_content.update {
    width: 480px;
    height: 700px;
	position : relative;
	display : flex;
	flex-direction : column;
	padding: 10px;
}
.btn.address_search.admin.update > span{
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
}
.btn.address_search.admin.update > span > img{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    vertical-align: middle;
    transform: rotate(270deg);
}
.modal_content.update > form > .btn_wrap {
	position : absolute;
	bottom : 5px;
	left : -1.3px;
	width : 100%;
	display: flex;
	justify-content: center;
}
.modal_content.update > form > .btn_wrap > button:nth-of-type(2) {
	margin-left: 5px;
}
/* 모달 창 룸 등록 */
.modal_content_wrap.roomWrite {
    top: 25%;
    width: 350px;
    height: 420px;
}
.modal_content.roomWrite {
    width: 330px;
    height: 400px;
	position : relative;
	display : flex;
	flex-direction : column;
	align-items : center;
	padding: 10px;
}
.modal_content.roomWrite > form > .btn_wrap {
	position : absolute;
	bottom : 5px;
	left : -1.3px;
	width : 100%;
	display: flex;
	justify-content: center;
}
.modal_content.roomWrite > form > .btn_wrap > button:nth-of-type(2) {
	margin-left: 5px;
}
.mb-3.roomWrite {
	display: flex;
	justify-content: space-between;
}
.mb-3.roomWrite > div {
	display: flex;
	flex-direction: column;
	width: 49%;
}
.form-control.roomWrite {
	appearance: auto;
	height: 39px;
}
.label_wrap.admin.top {
	justify-content: space-between;
}
.label_wrap.admin.top > div {
	display: flex;
}
/* 모달 창 룸 관리 */
.modal_content_wrap.room {
    top: 15%;
    width: 500px;
    height: 600px;
}
.modal_content.room {
    width: 480px;
    height: 580px;
	position : relative;
	display : flex;
	flex-direction : column;
	align-items : center;
	padding: 10px;
}
.modal_content.room > .btn_wrap {
	position : absolute;
	bottom : 5px;
	width : 100%;
	display: flex;
	justify-content: center;
}
#admin_room_list_wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 485px;
	padding : 0 10px;
	overflow: auto;
}
.admin_room_list {
	border-bottom: 1px solid #c0c0c0;
	padding: 10px 10px 10px 20px;
	width: 100%;
	position: relative;
}
.admin_room_list h3 {
	color : black;
}
.admin_room_list > .list_right_content {
	height: 100%;
	position: absolute;
	right: 5px;
}
/* 모달 창 룸 삭제 */
.modal_content_wrap.roomDelete {
    top: 35%;
    width: 500px;
    height: 190px;
    z-index: 10;
}
.modal_content.roomDelete {
    width: 480px;
    height: 170px;
	position : relative;
	display : flex;
	flex-direction : column;
	align-items : center;
	padding: 10px;
}
.modal_content.roomDelete > div {
	display: flex;
	justify-content: center;
}
.modal_content.roomDelete > div > #amdin_delete_modal_close {
	margin-left: 15px;
}
.modal_content.roomDelete > h6 {
	color : black;
	font-size : 22px;
	font-weight: 500;
	margin: 30px 0;
}

/* 모달 창 스터디 카페 삭제 */
.modal_content_wrap.delete {
    top: 35%;
    width: 500px;
    height: 190px;
}
.modal_content.delete {
    width: 480px;
    height: 170px;
	position : relative;
	display : flex;
	flex-direction : column;
	align-items : center;
	padding: 10px;
}
.modal_content.delete > div {
	display: flex;
	justify-content: center;
}
.modal_content.delete > div > #amdin_delete_modal_close {
	margin-left: 15px;
}
.modal_content.delete > h6 {
	color : black;
	font-size : 22px;
	font-weight: 500;
	margin: 30px 0;
}
/* 모달창 end */