@charset "UTF-8";
/* 공통 */
.mypage_mid_l.admin {
	height: inherit;
}
.admin_content_wrap {
	display: none;
}
.admin_content_wrap.show {
	display: block;
}


/* 스터디 관리  start */
.study_serch_form {
	margin-top: 50px;
	padding-bottom : 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
}
.study_serch_form > input {
	width: 200px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 4px;
	outline: 0 none;
	font-size: 12px;
	margin: 0 5px;
}
.study_serch_form > label {
	font-size: 12px;
}
.study_serch_form > select {
	width: 100px;
	height: 30px;
	padding: 5px 0 5px 5px;
	border-radius: 4px;
	outline: 0 none;
	font-size: 12px;
	margin: 0 5px;
}

/* 목록 부분 start */
.list_content {
	display : flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
}
.list_content > h5 {
	height: 70px;
	line-height: 70px;
	margin-bottom: 0;
}
.list_content > div{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}
.list_content > div  p {
	margin-bottom: 0;
	font-size: 12px;
	margin-left: 5px;
}
.list_content > div > div {
	display: flex;
}
.list_null {
	display: flex;
	justify-content: center;
	height: 400px;
	align-items: center;
}
/* 목록 부분 end */
/* 스터디 관리  end */

#admin_reserver_div > div {
	display : flex;
	flex-direction: column;
	align-items: center;
	
}