@charset "UTF-8";

/* 공통 */
a {
	text-decoration: none;
	color : black;
	cursor: pointer;
}

a:hover {
	color : black;
}

/* 각 부분 숨김 처리 */
#schedule_div, #board_div, #admin_div {
	display : none;
}
.stdInfo_div {
	padding-bottom: 50px;
}

/* 게시판 부분 start */
.board_list {
	border-top: 1px solid black;
}
.list_content {
	display : flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
}
.list_content > h5 {
	height: 70px;
	line-height: 70px;
	margin-bottom: 0;
}
.list_content > div{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}
.list_content > div > p {
	margin-bottom: 0;
}

/* 페이지처리 */
.pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.page_item {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(125,125,125,.2);
    border-radius: 5px;
}
.page_item:not(li:first-of-type) {
    margin-left: 5px;
}
.page_item.now {
    border-color: #696cff;
    background-color: #696cff;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(105 108 255 / 40%);
}
.page_img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin-top: 7.5px;
}
/* 게시판 부분 end */



/* 스터디 관리자 페이지 부분 start  */
/* 상단 메뉴 */
.admin_nav_wrap {
	display : flex;
	justify-content: space-between;
}
.admin_nav {
	display: flex;
	padding-bottom : 10px;
}
.admin_nav > a {
	margin-right: 10px;
}
#close_ad_img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

/* 멤버관리 화면 */
.member_cnt {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
#recruit_form {
	display : flex;
	align-items: center;
}
.recruit_sel {
	height: 31px;
	margin-right: 5px;
}

.member_list {
	padding-bottom : 100px;
}
.member_list > li {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(100,100,100,.3);
}
.member_list > li:not(li:first-of-type) {
	padding-top: 16px;
}
.ask_div {
	display : none;
}
.member_wrap {
	display : flex;
	justify-content: space-between;
}
.member_wrap > .btn-group > .btn-primary  {
	color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.member_wrap > .btn-group > .btn-primary:hover  {
	color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.member_wrap > .btn-group > .btn-primary:hover > .bx-dots-vertical-rounded:before  {
	font-size: 2rem;
}
.member_wrap > .btn-group > .btn-icon {
	padding: 0;
    width: calc(2.309375rem  + 2px);
    height: calc(2.309375rem + 2px);
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.member_wrap > .btn-group > .dropdown-toggle > .bx-dots-vertical-rounded {
	font-style: inherit;
}
.member_wrap > .btn-group > .dropdown-toggle > .bx-dots-vertical-rounded:before {
    content: "\22EE";
    color : black;
    font-size: 1.5rem;
}
.member_wrap > .btn-group > .dropdown-toggle::after {
    display: none;
}

/* 모달창 */
div.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(1, 5, 22, 0.2);
    z-index: 101;
}
.modal_content_wrap {
    position: relative;
    top: 20%;
    margin: auto;
    padding : 10px;
    width: 500px;
    height: 500px;
    background-color: #c0c0c0;
    border-radius: 10px;
}
.modal_content {
    width: 480px;
    height: 480px;
    background-color: white;
    border-radius: 10px;
}
/* 모달창 - 벌점 관리 */
.modal_content.penalty {
	position : relative;
	display : flex;
	flex-direction : column;
	padding: 10px;
}
.modal_content.penalty p {
	margin-bottom : 0;
}
.modal_content.penalty > hr {
	margin : 0.5rem 0;
}
.modal_content.penalty > .h6_wrap {
	margin-top : 20px;
	display: flex;
}
.modal_content.penalty > .h6_wrap > h6 {
	font-size: 16px;
	font-weight: 600;
	color : #7A7E83 !important;
}
.modal_content.penalty > .h6_wrap > p {
	margin-left : 5px;
	font-size: 8px;
}
.modal_content.penalty > .btn_wrap {
	position : absolute;
	bottom : 5px;
	left : -1.3px;
	width : 100%;
	display: flex;
	justify-content: center;
}
.modal_content.penalty > .btn_wrap > button:nth-of-type(2) {
	margin-left: 5px;
}
.penalty_state {
	display: flex;
	justify-content: space-between;	
}
.penalty_state > p:nth-of-type(2) {
	margin-left: 20px;
}
.penalty_list_wrap {
	display: flex;
	flex-direction: column;
	height: 140px;
	overflow: auto;
}
.penalty_list {
	display: flex;
	justify-content: space-between;
	align-items : center;
	padding: 0 5px 5px 0;
    border-bottom: 1px solid rgba(100,100,100,.2);
}
.penalty_list:not(.penalty_list:first-of-type) {
	padding-top: 5px;
}
.penalty_list > p {
	font-size: 12px;
}
.penalty_list > p:first-of-type {
	width: 65%;
}
.penalty_delete.btn {
	width: 14px;
	height: 14px;
	line-height : 14px;
	padding: 0;
	border: none;
}
.penalty_delete_img {
	margin : 0 auto;
	width: 12px;
	height: 12px;
	object-fit: cover;
}
#penalty_from {
	display: flex;
	flex-direction: column;
}
/* 모달 스케줄 추가 */
.modal_content_wrap.insertSchedule {
    top: 25%;
    width: 350px;
    height: 450px;
}
.modal_content.insertSchedule {
    width: 330px;
    height: 430px;
	position : relative;
	display : flex;
	flex-direction : column;
	align-items : center;
	padding: 10px;
}
.modal_content.insertSchedule > form > .btn_wrap {
	position : absolute;
	bottom : 5px;
	left : -1.3px;
	width : 100%;
	display: flex;
	justify-content: center;
}
.modal_content.insertSchedule > form > .btn_wrap > button:nth-of-type(2) {
	margin-left: 5px;
}
.mb-3.insertSchedule {
	display: flex;
	justify-content: space-between;
	width: 320px;
}
.mb-3.insertSchedule > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.form-control.insertSchedule {
	appearance: auto;
	height: 39px;
}
.modal_content.insertSchedule > .mb-3 {
	width : 100%;
}
.modal_content.insertSchedule > .btn_wrap {
	position : absolute;
	bottom : 5px;
	left : -1.3px;
	width : 100%;
	display: flex;
	justify-content: center;
}
/* 스터디 신청 관리 */
.reserver_data {
	display: flex;
}
.reserver_data > p {
	font-size : 12px;
	font-weight: 400 !important;
	margin: 0 10px;
}
/* 스터디 관리자 페이지 부분 end */