@charset "UTF-8";
/* 각 부분 숨김 처리 */
#schedule_div, #board_div, #admin_div {
	display : none;
}




/* 스터디 관리자 페이지 부분 start  */
/* 상단 메뉴 */
.admin_nav_wrap {
	display : flex;
	justify-content: space-between;
}
.admin_nav {
	display: flex;
}
#close_ad_img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

/* 멤버관리 화면 */
.member_cnt {
	margin-top: 20px;
}

.member_list {
	padding-bottom : 100px;
}
.member_list > li {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(100,100,100,.3);
}
.member_list > li:not(li:first-of-type) {
	padding-top: 16px;
}
.ask_div {
	display : none;
}
.member_wrap {
	display : flex;
	justify-content: space-between;
}
/* 스터디 관리자 페이지 부분 end */