a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {color: black; text-decoration: none;}
#calendar div::-webkit-scrollbar {
  display: none;
}
/* 스터디 */
.myStudy_content_wrap{
	height: 540px;
	overflow: scroll;
}
.myStudy_content_wrap::-webkit-scrollbar {
  display: none;
}
.empty_list_wrap{
	height: 540px;
	display: flex;
	justify-content : center;
	align-items : center;
}
.list_content {
	display : flex;
	justify-content: space-between;
	margin : 10px 0;
	padding : 5px 10px;
	
	background: #fff;
	box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
	border: 1px solid rgb(242, 242, 242);
	border-radius: 5px;
}
.list_content.study > h5 {
	height: 70px;
	line-height: 70px;
	margin-bottom: 0;
}
.list_content.study > div{
}
.list_content.study > div  p {
	margin-bottom: 0;
	font-size: 12px;
	margin-left: 5px;
}
.list_content.study > div > div {
	display: inline;
}
/* 신청 스터디 내역 */
table.right-section{
	width: 670px;
	height: 500px;
}
table.right-section > thead{
	display: block;
	width: 670px;
}
table.right-section > tbody{
	display: block;
	width: 670px;
    height: 400px;
    overflow: auto
}
table.right-section > tbody::-webkit-scrollbar {
  display: none;
}
table.right-section td{
	height: 50px;
	width: 270px;
}
table.right-section td:first-child{
	width: 290px
}
table.right-section td:last-child{
	width: 120px
}
table.right-section tr:last-child{
	height: 100%;
}
/* 프로필 */
#profile_image{
    height: 70px;
	width: 70px;
	border-radius: 50%;
}
/* 모달창 */
div.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(1, 5, 22, 0.2);
    z-index: 101;
}
.modal_content_wrap {
    position: relative;
    top: 20%;
    margin: auto;
    padding : 10px;
    width: 400px;
    height: 450px;
    background-color: #c0c0c0;
    border-radius: 10px;
}
.modal_content {
    width: 380px;
    height: 430px;
    background-color: white;
    border-radius: 10px;
    position : relative;
	display : flex;
	flex-direction : column;
	padding: 10px;
}
.modal_content .h6_wrap {
	margin-top : 20px;
	display: flex;
}
.modal_content .h6_wrap > h6 {
	font-size: 16px;
	font-weight: 600;
	color : #7A7E83 !important;
}
.modal_content .h6_wrap > p {
	margin-left : 5px;
	font-size: 8px;
}
.modal_content .btn_wrap {
	position : absolute;
	bottom : 5px;
	left : -1.3px;
	width : 100%;
	display: flex;
	justify-content: center;
}
.modal_content .btn_wrap > button:nth-of-type(2) {
	margin-left: 5px;
}
.profile_img_modal{
	display: inline;
	width: 200px;
	height:200px;
}
.profile_img_change_btn{
	display: inline;
	width: 150px;
	height: 40px;
}
/* 탈퇴 모달 */
div.modal.delMember {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: rgba(1, 5, 22, 0.2);
    z-index: 101;
}
.modal_content_wrap.delMember {
    position: relative;
    top: 20%;
    margin: auto;
    padding : 10px;
    width: 400px;
    height: 170px;
    background-color: #c0c0c0;
    border-radius: 10px;
}
.modal_content.delMember {
    width: 380px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    position : relative;
	display : flex;
	flex-direction : column;
	padding: 10px;
}
.mb-3.h6_wrap{
	justify-content: center;
}
/* 회원 폼 */
.padding > .p-title{
	display: inline-block;
}
.join_body_top{
	display: inline-block;
    padding-bottom: 10px;
    font-size: 10px;
    color: rgb(102, 102, 102);
    text-align: right;
}
.join_tip_mark{
    color: coral;
}
.right-content{
	position: relative;
}
/* 회원가입 속성 리스트 */
.join_body_mid{
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.join_body_mid_val{
    display: inline-flex;
    width: 100%;
    padding: 5px 20px;
}
.email_check_num{
    display: none;
}
.join_body_mid_val_1{
    width: 139px;
    padding-top: 5px;
}
label{
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
.join_body_mid_val_2{
    flex: 1 1 0%;
}
.join_body_mid_val_2 > div:first-child{
    padding-bottom: 0px;
    position: relative;
    height: 40px;
}
.join_body_mid_val_input{
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.hidden_msg_div{
	display: none;
	height: 20px;
	padding: 10px 0px;
}
.hidden_msg_div > p{
	color: green;
	width: 100%;
	text-align: center;
}
.join_body_mid_val_2 p{
	font-size: 13px;
    color: rgb(240, 63, 64);
    margin-top: -4px;
}
/* 중복확인 버튼 */
.join_body_mid_val_3{
    width: 120px;
    margin-left: 8px;
}
.join_body_mid_val_3 button{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;

}
#check_email_button{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    color: rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(260, 260, 260);

}
.join_body_mid_val_3 button > span{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
}
.join_body_mid_val_3 button > span > img{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
    transform: rotate(270deg);
}


/* 이용약관동의 버튼 */
.agree_section_div{
    display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 20px;
    margin-top: 10px;
}
.agree_section_div_btnlist{
    flex: 1 1 0%;
}
.agree_section_div_btnlist_content{
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    align-items: center;
}
.agree_section_div_btn_button{
    display: flex;
    align-items: center;
}
.agree_section_div_btn_button_label{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-size: 14px;
}
.agree_section_div_btn_button > span{
    padding-left: 5px;
    color: rgb(153, 153, 153);
}
.search_license{
    padding-right: 22px;
    letter-spacing: 0px;
}
.update_btn{
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 300px;
	
}

/* 비밀번호 변경 */
.update_pwd_mid{
	width: 100%;
	position: absolute;
	top: 40%;
}