@charset "UTF-8";
/* Start Fonts from Google Fonts */
/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');


/*End Fonts*/


/* Start Body */
/*
body {
   background: #EEE; 
    background: url("https://s16.postimg.org/4d17gd0vp/smbg.png");
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font: 16px;

}
*/

/* End Body */
/*
h1{
  margin-bottom: 7%;
}
*/

/*tooltip Box*/
.con-tooltip {
/*
  position: relative;
  background: #F2D1C9;
  border-radius: 9px;
  padding: 0 20px;
  margin: 10px;
*/
  display: inline-block;
  
  transition: all 0.3s ease-in-out;
  cursor: default;

}

/*tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  display : flex;
  justify-content : center;
  align-items : center;
  width: 100%;
  padding: 0px 5px;
  background: #ffffff;
  color: #000000;
  position: absolute;
  top:-140%;
  left: -25%;
  border-radius: 4px;
  box-sizing: content-box;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

.tooltip>p{
	box-sizing: content-box;
	padding: 3px 1px 3px 1px;
	font-size: 11px;
	height: 16px;
	margin-block-start: 1.5px;
    margin-block-end: 1.5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}


/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #ffffff transparent transparent transparent;

  position: absolute;
  /*left: 40%;*/

}

.con-tooltip:hover .tooltip{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
    transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;

}
@keyframes odsoky {
  0%{
    transform: translateY(6px); 
  }

  100%{
    transform: translateY(1px); 
  }

}

/*hover ToolTip*/
.bottom:hover {transform: translateY(6px);}


/*bottom*/

.bottom .tooltip { top:115%; left: -20%; }

.bottom .tooltip::after{
  top:-17%;
  left:20%;
  transform: rotate(180deg);
}

/*
h3 {
    background: #333;
    color: #E086D3;
    padding: 10px 20px;
    border-radius: 56px;
    width: 8em;
    margin: 20% auto 1% auto;
  
}
*/

/*알람 부분*/
.inform_tooltip {
    visibility: visible;
    z-index: 10;
    opacity: .40;
    display: none;
    align-items: center;
    width: 260px;
    height : 190px;
    background: #ffffff;
    color: #000000;
    position: absolute;
    border-radius: 4px;
    box-sizing: content-box;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
    
    top:115%; left: -191.3%;
}
.inform_tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #ffffff transparent transparent transparent;

  position: absolute;
  
  top:-5%;
  left:46%;
  transform: rotate(180deg);
}
.inform_tooltip > ul {
    /* overflow : auto; */
    overflow-y : scroll;
    margin : 5px 0 0;
    height : 185px;
    width: 100%;
    align-items: center;
}
.inform_tooltip > ul::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
}

.inform_tooltip > ul::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background-color: #e1dac4;/* 스크롤바의 색상 */
    border-radius: 10px;
}

.inform_tooltip > ul::-webkit-scrollbar-track {
    background-color: white;
}
.inform_tooltip > ul > li {
    width: 240px;
    height: 50px;
    float: none;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items : center;
    background-color: rgba(255, 247, 219, 0.86);
    margin : 5px 5px 5px 10px;
    border-radius: 5px;
} 
.inform_tooltip p {
    margin-bottom: 0;
    font-size: 11px;
    line-height: 11px;
}
.inform_delete.btn {
	width: 14px;
	height: 14px;
	line-height : 14px;
	padding: 0;
	border: none;
    background-color: rgba(255, 247, 219, 0.86);
    cursor: pointer;
}
.inform_delete_img {
	margin : 0 auto;
	width: 12px;
	height: 12px;
	object-fit: cover;
}
.list_null {
	display: flex;
	justify-content: center;
	width : 100%;
	height: 100%;
	align-items: center;
}
.social {
    overflow: visible !important;
}